header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    background-color: #08f;
    padding: 20px;
}

.navbar-text {
    text-align: center;
    display: inline-block;
}

.jumbotron {
    overflow: hidden;
}

h2 {
    color: white;
}

img {
    float: left;
    margin-right: 10px;
}